<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hot or Not Leaderboard</title>
</head>
<body>
    {% include 'navbar.html' %}

    <h1>Leaderboard</h1>
    <ul id="leaderboard_list"></ul>

    <select id="filterDropdown" onchange="makeFilterDropdownChanges()" style="position: fixed; top: 10px; left: 10px;">
        <!-- The option elements define the individual items in the dropdown -->
        <option value="h2l">Highest to Lowest</option>
        <option value="l2h">Lowest to Highest</option>
    </select>

    {% include 'footer.html' %}
    {% include 'dropdown.html' %}

    
    <script src="../static/script.js" defer></script>
</body>
</html>